---
{{ ansible_managed | comment( prefix='#####################\n#', postfix='#\n#####################\n')}}  
{{ template_string   | comment('plain', prefix='#######\n#', postfix='#\n#######\n   ###\n    #') }}
install_packages:
{% for item in programs %}
 - {{item.program}}
{% endfor %}
...